pandas
psycopg2-binary
PyPDF2
python-dotenv
watchdog
openpyxl
mistralai
langchain
langchain-huggingface
langchain-chroma
huggingface-hub
nest_asyncio
openai
boto3
numpy
requests
urllib3
psutil
uuid
pytesseract
